* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../images/04.jpg");
    background-size: cover;
    /* background: no-repeat center center cover; */
    height: 100vh;
}


/********** NAV BAR **********/
.navbar {
    align-items: center;
    display: flex;
    font-family: 'Alata', sans-serif;
    justify-content: end;
    padding: 2rem 10rem;
    z-index: 1;
}

.nav-list {
    display: flex;;
}

.nav-list a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.nav-list li {
    font-size: 1rem;
    list-style: none;
    margin-left: 4rem;
}

.logo {
    color: rgb(245, 245, 245);
    font-size: 1.8rem;
    font-family: 'Alata', sans-serif;
    letter-spacing: 0.1rem;
    margin-right: auto;
    text-transform: uppercase;
}

.hamburger-container {
    display: none;
}
.hamburger-container i {
    color: rgb(245, 245, 245);
}

.burger-menu {
    background-color: rgba(0, 0, 0, .99);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
}

.burger-menu i {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    pointer-events: all;
    font-size: 2rem;
}

.hide-burger {
    display: none;
}

.close-burger {

}

.nav-list-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-list-vertical li {
    list-style: none;
    margin-bottom: 3rem;
}

.nav-list-vertical a {
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    color: rgb(245, 245, 245);
    font-size: 1.7rem;
}

/********** LANDING **********/
.headline {
    color: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
    padding: 18rem 10rem;
    text-align: right;
}

.headline h1 {
    font-size: 2.6rem;
    letter-spacing: .2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.reel-btn {
    background-color: rgb(245, 245, 245);
    border: none;
    color: #000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.mobile-hide {
    display: flex;
}


/********** REEL **********/
.video-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-container .close-video {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    pointer-events: all;
}

.video-container .reel-video {
    width: 60%;
    transform: scale(0);
    transition: all 0.3s;
    outline: none ;
}

.video-container.show {
    pointer-events: all;
    opacity: 1;
}

.video-container.show .reel-video {
    transform: scale(1);
}



/********** ABOUT **********/
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 26rem;
    font-family: 'Alata', sans-serif;
    text-align: center;
}


/********** WORK **********/
.work {
    background-color: rgb(26, 26, 26);
    padding: 2rem 0;
    text-align: center;
}

.work h4 {
    font-size: 2rem;
    padding: 1rem 0;
    font-family: 'Alata', sans-serif;
    color: rgb(245, 245, 245);
}

.portfolio-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 7rem;
}

.portfolio-video {
    width: 420px;
    height: 270px;
    background-color: #000;
    margin: 1rem;
}

.more-videos {
    font-family: 'Alata', sans-serif;
    color: rgb(245, 245, 245);
}


/********** FOOTER **********/

.footer {
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.footer i {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    margin: 0 1rem;
}

@media screen and (max-width: 1130px) {
    .navbar {
        padding: 2rem 5rem;
    }

    .portfolio-holder {
        padding: 0rem 2rem;
    }

    .portfolio-video {
        /* width: 320px; */
        /* height: 180px; */
        margin: 1rem;
    }
    .work {
        padding: 1rem 0;
    }

}

@media screen and (max-width: 640px) {
    .header {
        background-image: url("../images/00.jpg");
    }

    .headline {
        text-align: center;
        padding: 10rem 0;
    }

    .headline h1 {
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .navbar {
        justify-content: space-between;
        padding: 1.5rem;
    }

    .nav-list {
        display: none;
    }

    .hamburger-container {
        display: block;
    }

    .hamburger-container i {
        font-size: 1.5rem;
    }

    .video-container .reel-video {
        width: 90%;
    }

    .portfolio-video {
        width: 320px;
        height: 180px;
        margin: 1rem;
    }

    /* hides 4th video and higher */
    .portfolio-video:nth-child(-n+3) {  
        display: none;
    }

    .more-videos {
        font-size: 1rem;
    }

    .footer {
        padding: 3rem 0;
    }

    .footer i {
        font-size: 1.7rem;
        margin: 0 2rem;
    }
}

