* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth
}

/* LANDING */
.landing {
    align-items: center;
    background-image: url("../images/01.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.landing-content {
    padding: 0 4rem;
    text-align: right;
    transform: translateY(1.5rem);
}

.landing-header {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.watch-reel-btn {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 0.7rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.landing-down-arrow {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 50%; bottom: 2rem;
    transition: all 0.2s ease-in-out;
}

.landing-down-arrow:hover {
    transform: translateY(0.3rem);
}

/* REEL */
.reel-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.reel-container .close-video {
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    display: none;
}
.close-video.show {
    display: block;
}
.reel-container .reel-video {
    width: 60%;
    transform: scale(0);
    transition: all 0.3s;
    outline: none ;
}
.reel-container.show {
    pointer-events: all;
    opacity: 1;
}
.reel-container.show .reel-video {
    transform: scale(1);
}

/* NAV */
.navbar {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    position: absolute;
    top: 0; left: 0;
    text-transform: uppercase;
    width: 100%;
}

.logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item, .contact-btn {
    color: #fff;
    margin-left: 4rem;
    text-decoration: none;
}

.contact-btn {
    border: #fff 1px solid;
    padding: 0.5rem 1rem;
}

.mobile-nav-container {
    background-color: rgba(0, 0, 0, .99);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s;
}
.mobile-nav-container .close-mobile-nav {
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
    font-size: 1.7rem;
    display: none;
    color: #fff;
}
.close-mobile-nav.show {
    pointer-events: all;
    display: block;
}

.mobile-nav-container.show-mobile-nav {
    opacity: 1;
    pointer-events: all;
}
.mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mobile-nav-list li {
    list-style: none;
    margin-bottom: 3rem;
}
.mobile-nav-list a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 1.7rem;
}

.burger-btn-container {
    display: none;
}
.burger-btn-container .burger-btn {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    z-index: 5;
}


/* FEATURED VIDEOS */
.featured-videos {
    padding: 2rem 4rem;
    text-align: center;
}

.featured-videos h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.videos-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.video-container {
    min-height: 225px;
    min-width: 400px;
    margin: 0 1rem 1rem;
}

.video-container iframe {
    height: 100%;
    width: 100%;
}

.view-all-videos {
    color: #000;
    font-size: 0.9rem;
    text-transform: uppercase;
    transform: all 0.2s ease-in-out;
}

.all-videos-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* FOOTER */
footer {
    background-color: #003f58;
    color: #fff;
    display: flex;
    padding: 2rem 4rem;
    flex-direction: column;
}

.socials {
    align-items: center;
    display: flex;
    justify-content: center;
}

.socials a {
    color: #fff;
    font-size: 1.5rem;
}

.socials a:nth-child(1) {
    margin-right: 1.5rem;
}

.contact-form {
    margin: 0 auto 1rem;
    text-align: center;
    transition: opacity 0.5s ease-out;
    width: 30%;
}

.contact-form h2 {
    color: #fff;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

input, textarea {
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.5rem 0;
    padding: 0.8rem;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}

.submit-btn {
    background: #0060a9;
    border: none;
    /* border: #fff 2px solid; */
    /* border-bottom: #fff 4px solid; */
    box-shadow:
        0px 1.4px 2.2px rgba(0, 0, 0, 0.02),
        0px 3.3px 5.3px rgba(0, 0, 0, 0.028),
        0px 6.3px 10px rgba(0, 0, 0, 0.035),
        0px 11.2px 17.9px rgba(0, 0, 0, 0.042),
        0px 20.9px 33.4px rgba(0, 0, 0, 0.05),
        0px 50px 80px rgba(0, 0, 0, 0.07)
    ;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin: 16px 0;
    padding: 0.7rem;
    position: relative;
    text-transform: uppercase;
    width: 40%;
}


@media (max-width: 640px) {
    .landing {
        background-image: url("../images/mobile.jpg");
        height: 100vh;
    }

    .landing-content {
        text-align: center;
    }

    .landing-header {
        font-size: 2rem;
    }

    .nav-list {
        display: none;
    }

    .contact-form {
        width: 100%;
    }

    .burger-btn-container {
        display: block;
    }

    .burger-btn {
        font-size: 1.5rem;
    }

}